#ui {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 2;
    overflow: hidden;
}

#ui__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16vw;
    padding: 2vw;
    padding-top: 6vw; 
}

@media (orientation: landscape) {
    #ui__top {
        flex-direction: row;
        justify-content: space-between;
        gap: 8vh;
        padding: 3vh;
        padding-top: 3vh; 
    }
}